<nav class="navbar" th:fragment="navbarFragment" xmlns:th="http://www.w3.org/1999/xhtml">
  <ul>
    <li><a th:href="@{/}" >Home</a></li>
    <li><a th:href="@{/inprogress}">Inprogress</a></li>
    <li><a th:href="@{/create}" >Create</a></li>
    <li><a th:href="@{/completed}">Completed</a></li>
    <li th:if="${#authorization.expression('isAuthenticated()')}" class="logout">
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
      </form>
    </li>
    <li th:unless="${#authorization.expression('isAuthenticated()')}">
      <a th:href="@{/login}">Login</a>
    </li>
  </ul>

  <div class="user-info" th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Hello,</p><span th:text="${#authentication.principal.username}"></span>
  </div>
</nav>