<!-- taskCardFragment.html -->
<div class="task-card" th:if="${task != null}" th:id="'task-' + ${task.id}" th:fragment="taskCard" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="task-options" onclick="toggleOptionsMenu(event)">
        <div class="options-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
            </svg>
        </div>
        <div class="options-menu" style="display: none;">
            <ul>
                <li>
                    <form th:action="@{'/' + ${task.id}}" method="post">
                        <button type="submit" th:text="${task.taskStatus eq 'COMPLETED' ? 'Mark as In Progress' : 'Mark as Completed'}"></button>
                    </form>
                </li>
                <!-- Add more options as needed -->
            </ul>
        </div>
    </div>
    <div class="priority" th:text="${task.priority}"></div>
    <div class="task-content">
        <h3 th:text="${task.title}"></h3>
        <p th:text="${task.description}"></p>
        <p th:text="${task.toBeComplete}"></p>
    </div>
</div>
