/* Dashboard Styles */
*{
    font-family: sans-serif;
}
.dashboard-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
}

.dashboard-container h1 {
    text-align: center;
    color: #333;
}

.dashboard-container p {
    color: #555;
    text-align: center;
}
