/* Navbar Styles */
*{
    font-family: sans-serif;
}
.navbar {
    position: relative; /* Set the position of the containing element to relative */
    background-color: #333;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0; /* Remove the default margin */
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover,
.navbar .logout:hover input[type="submit"] {
    background-color: #ddd;
    color: black;
}

/* Updated User Info Styles */
.user-info {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: white;
    display: flex; /* Use flexbox for better alignment */
    align-items: center; /* Center items vertically in the container */
}

.user-info p {
    margin-right: 8px; /* Adjust the spacing between "Hello," and the username */
}

.navbar form {
    display: block; /* Change to block to take full width */
    margin: 0;
}

.navbar form input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    padding: 14px 16px; /* Match padding with other list items */
    text-decoration: none; /* Remove underlines */
    display: block; /* Ensure button takes full width */
    width: 100%; /* Make button full width */
    text-align: center; /* Center text */
    font-size:16px;
}

.navbar form input[type="submit"]:hover {
    background-color: #ddd;
    color: black;
}