/* Reset some default margin and padding */
body, h1, ul, div {
    margin: 0;
    padding: 0;
}

/* Style the task container */
.task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; /* Adjust as needed for spacing between cards */
    justify-content: flex-start;
    margin: 20px; /* Add margin for spacing from the top */
}

/* Style each task card */
.task-card {
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 245px; /* Set a fixed width for each card, adjust as needed */
}

/* Style the priority indicator */
.priority {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.options-icon{
    position: absolute;
    top:10px;
    right:10px;
    height: 24px;
    width : 24px;
    cursor:pointer;
}
/* Style the message when no tasks are available */
div {
    text-align: center;
    color: #555;
}

.navbar {
    margin: 8px;
}

/* Style the options menu */
.options-menu {
    position: absolute;
    top: 30px; /* Adjust the top position as needed */
    right: 0;
    border-radius:8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.options-menu ul {
    list-style: none;
    padding: 8px;
}

.options-menu li {
    margin-bottom: 8px;
}

/* Style the options menu link */
.options-menu a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* Hover effect for task card */
.task-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}

/* Hover effect for options icon */
.options-icon:hover {
    filter: brightness(1.2); /* Adjust brightness on hover */
}

/* Button styles */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}