<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Creation</title>
    <link rel="stylesheet" href="/css/create_task.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div class="navbar" th:replace="~{fragments/navbar :: navbarFragment}"></div>

<div class="container">

    <h1>Create your task here</h1>

    <div th:if="${taskError}">
        <div th:text="${taskError}" class="error"></div>
    </div>

    <form method="post" th:action="${task.id} ? @{/edit/{taskId}(taskId=${task.id})} : @{/create}" th:object="${task}" id="create_task">
        <div class="input-container">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:field="${task.title}" required>
        </div>

        <div class="input-container">
            <label for="description">Description:</label>
            <textarea id="description" name="description" th:field="${task.description}" maxlength="50"></textarea> <!-- Add maxlength attribute -->
        </div>

        <div class="input-container">
            <label for="deadline">Deadline Date:</label>
            <input type="date" id="deadline" name="toBeComplete" th:field="${task.toBeComplete}">
        </div>

        <div class="input-container">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority" th:field="${task.priority}">
                <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}"></option>
            </select>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>

<script src="/js/create_task.js"></script>

</body>
</html>