<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Creation</title>
    <link rel="stylesheet" href="/css/create_task.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div class="navbar" th:replace="~{fragments/navbar :: navbarFragment}"></div>

<div class="container">

    <h1>Create your task here</h1>

    <form method="post" th:action="@{/create}" th:object="${task}">
        <div class="input-container">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:field="${task.title}">
            <div class="error" th:if="${titleError}" th:text="${titleError}"></div> <!-- Modify the error message here -->
        </div>

        <div class="input-container">
            <label for="description">Description:</label>
            <textarea id="description" name="description" th:field="${task.description}" maxlength="100"></textarea> <!-- Add maxlength attribute -->
        </div>

        <div class="input-container">
            <label for="deadline">Deadline Date:</label>
            <input type="date" id="deadline" name="toBeComplete" th:field="${task.toBeComplete}">
            <div class="error" th:if="${dateError}" th:text="${dateError}"></div> <!-- Modify the error message here -->
        </div>

        <div class="input-container">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority" th:field="${task.priority}">
                <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}"></option>
            </select>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>

<!-- JavaScript to limit the number of words in textarea -->
<script>
    var textarea = document.getElementById("description");
    var maxWords = 100; // Change this to your desired word limit

    textarea.addEventListener("input", function() {
        var text = this.value;
        var words = text.trim().split(/\s+/);

        if (words.length > maxWords) {
            this.value = words.slice(0, maxWords).join(" ");
        }
    });
</script>

</body>
</html>