<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="container">
    <h1>Signup</h1>

    <div th:if="${emailExist}" class = "error">
        <span th:text="${emailExist}"></span>
    </div>

    <div th:if="${emailOrPasswordEmpty}" class = "error">
        <span th:text="${emailOrPasswordEmpty}"></span>
    </div>

    <div th:if="${passwordLength}" class = "error">
        <span th:text="${passwordLength}"></span>
    </div>

    <form method="post" th:action="@{/signup}" th:object="${user}">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}"><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}"><br><br>

        <label for="password">Password:</label>
        <button type="button" id="btn">Generate strong password</button>
        <div class="password-container">
            <input type="password" id="password" name="password" th:field="*{password}">
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>

        <input type="submit" value="Signup">
    </form>

    <a href="/login" class="signup-link">Already have an account ? </a>
    <script src="/js/passwordgenerator.js"></script>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const passwordField = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function() {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    });
</script>

</body>
</html>
